header { 
    background-color: green;
    padding: 0;
}
#banner{
    width:  30%;
}

footer {
    text-align: center;
    background-color: green;
    padding: 40px 0;
}

footer img {
width: 200px;
}